@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
:root {
    /* Text */
    --text-primary: #F8FAFC;
    --text-secondary: #94A3B8;

    --heading: rgb(125, 211, 252);      /* #7DD3FC */
    --paragraph: rgb(186, 230, 253);    /* #BAE6FD */
    
    /* Icons */
    --icon-primary: #38BDF8;
    --icon-secondary: #64748B;

    /* Accent */
    --accent: #22D3EE;

    /* Weather Icons */
    --sunny: #FBBF24;
    --cloudy: #CBD5E1;
    --partly-cloudy: #38BDF8;
    --rainy: #3B82F6;
    --storm: #8B5CF6;
    --snow: #E0F2FE;  

    /* Glass */
    --glass: rgba(255,255,255,.06);
    --glass-border: rgba(255,255,255,.08);

    --dm-sans: 'DM Sans', sans-serif;
}
body {
  /* background-color: #16171d; */
  background: linear-gradient(
        135deg,
        #16171d 0%,
        #1f2937 50%,
        #0f172a 100%
    );
    /* background: var(--text-primary); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--dm-sans);
}
.app {
  width: 100%;
  height: auto;
  padding: 20px;
}